<!-- standard header -->
<header class="adminuiux-header">
    <!-- Fixed navbar -->
    <nav class="navbar">
        <div class="container-fluid">
            <!-- logo -->
            <a class="navbar-brand" href="investment-dashboard.html">
                <img data-bs-img="light" src="assets/img/logo-light.svg" alt="">
                <img data-bs-img="dark" src="assets/img/logo.svg" alt="">
                <div class="">
                    <span class="h4">Investment<b>UX</b></span>
                    <p class="company-tagline">AdminUIUX HTML template</p>
                </div>
            </a>

            <div class=" ms-auto "></div>
            <!-- right icons button -->
            <div class="ms-auto">


            </div>
        </div>
    </nav>
</header>