<%= require('../partials/headbody/headbody.html').default %>
    <%= require('../partials/pageloader/investment-pageloader.html').default %>

        <main class="flex-shrink-0 pt-0 h-100">
            <div class="container-fluid">
                <div class="auth-wrapper">

                    <!--Page body-->

                    <!-- Content  -->
                    <div class="container mt-4" id="main-content">

                        <div class="d-flex flex-column height-dynamic" style="--h-dynamic: calc(100vh - 1.5rem)">

                            <!-- Onboarding banner -->
                            <div class="row align-items-center mb-4">
                                <div class="col-12 col-sm py-3">
                                    <h2>Getting started is easy & quick!</h2>
                                    <p class="text-secondary">Provide your information to quick start appointment bookings.</p>
                                </div>
                                <div class="col-auto py-3">
                                    <a class="d-inline-flex w-auto mx-auto style-none" href="investment-dashboard.html">
                                        <img data-bs-img="light" src="assets/img/logo-light.svg" alt="" class="mx-3">
                                        <img data-bs-img="dark" src="assets/img/logo.svg" alt="" class="mx-3">
                                        <div>
                                            <p class="h5 mb-0">Investment<b>UX</b></p>
                                            <p class="text-secondary small">HTML template</p>
                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div>
                                <!-- SmartWizard html -->
                                <div class="card adminuiux-card overflow-hidden mb-4" id="smartwizard">
                                    <ul class="nav">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#step-1">
                                                <div class="num">1</div>
                                                <div>
                                                    <p class="h5 mb-0">Details</p>
                                                    <p class="opacity-75 small">Name and description</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#step-2">
                                                <div class="num">2</div>
                                                <div>
                                                    <p class="h5 mb-0">Address</p>
                                                    <p class="opacity-75 small">Provide your address</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="#step-3">
                                                <div class="num">3</div>
                                                <div>
                                                    <p class="h5 mb-0">Interest Areas</p>
                                                    <p class="opacity-75 small">Let us know what you like</p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>

                                    <div class="card-body pb-0">
                                        <div class="tab-content">
                                            <!-- details -->
                                            <div id="step-1" class="tab-pane px-0" role="tabpanel" aria-labelledby="step-1">
                                                <div class="row align-items-center my-2">
                                                    <div class="col-12 col-lg-3 text-center mb-3">
                                                        <figure class="avatar avatar-140 coverimg rounded-circle mt-3 mb-3">
                                                            <img src="assets/img/modern-ai-image/user-6.jpg" alt="">
                                                            <button class="btn btn-square btn-accent rounded-circle" onclick="$(this).next().click()">
                                                                <i class="bi bi-upload"></i>
                                                            </button>
                                                            <input type="file" class="d-none">
                                                        </figure>
                                                        <h5>AdminUIUX</h5>
                                                    </div>
                                                    <div class="col">
                                                        <!-- Details -->
                                                        <h6 class="mb-3">Investor Details</h6>
                                                        <div class="row mb-3">
                                                            <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                                                                <div class="form-floating mb-3">
                                                                    <input type="text" class="form-control" id="investmentname" placeholder="Enter First Name" value="AdminUIUX">
                                                                    <label for="investmentname">First Name</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                                                                <div class="form-floating mb-3">
                                                                    <input type="text" class="form-control" id="investmentmname" placeholder="Enter Middle name">
                                                                    <label for="investmentmname">Middle Name</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                                                                <div class="form-floating mb-3">
                                                                    <input type="text" class="form-control" id="investmentlname" placeholder="Enter Last name">
                                                                    <label for="investmentlname">Last Name</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                                                                <div class="form-floating mb-3">
                                                                    <input type="text" class="form-control" id="phoneon" placeholder="Enter phone" value="+91 4152 21A45488004">
                                                                    <label for="phoneon">Enter Phone</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                                                                <div class="form-floating mb-3">
                                                                    <input type="email" class="form-control" id="emailaddresson" placeholder="Enter Email Address" value="alex.smith@tgmail.com">
                                                                    <label for="emailaddresson">Email Address</label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Describe -->
                                                        <h6 class=" mb-3">Describe yourself</h6>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-floating mb-3">
                                                                    <textarea class="form-control height-100" id="describe" placeholder="Enter description"></textarea>
                                                                    <label for="describe">Short description</label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Address -->
                                            <div id="step-2" class="tab-pane px-0" role="tabpanel" aria-labelledby="step-2">
                                                <div class="row my-2">
                                                    <div class="col-12 col-lg-3 text-center">
                                                        <h6 class="mb-3">Locate on Map</h6>
                                                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d788.4385190507815!2d-122.4278138198206!3d37.772364180178094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1712990839970!5m2!1sen!2sin" height="280" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100 rounded mb-3"></iframe>
                                                    </div>
                                                    <div class="col">
                                                        <div class="row align-items-center mb-2">
                                                            <div class="col">
                                                                <h6 class="mb-3">Investor Address</h6>
                                                            </div>
                                                            <div class="col-auto">
                                                                <button class="btn btn-link"><i data-feather="plus"></i> Add Another</button>
                                                            </div>
                                                        </div>

                                                        <div class="row mb-2">
                                                            <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                                                                <div class="form-floating mb-3">
                                                                    <input type="text" class="form-control" id="house" placeholder="Enter Shop/Door number" value="12">
                                                                    <label for="house">Shop/Door Number</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                                                                <div class="form-floating mb-3">
                                                                    <input type="text" class="form-control" id="street" placeholder="Enter Street" value="Featherstone Street">
                                                                    <label for="street">Street</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                                                                <div class="form-floating mb-3">
                                                                    <input type="text" class="form-control" id="locality" placeholder="Enter locality" value="Ward">
                                                                    <label for="locality">Locality</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                                                                <div class="form-floating mb-3">
                                                                    <input type="text" class="form-control" id="town" placeholder="Enter Town" value="London">
                                                                    <label for="town">Town</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                                                                <div class="form-floating mb-3">
                                                                    <input type="text" class="form-control" id="city" placeholder="Enter City" value="London">
                                                                    <label for="city">City</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                                                                <div class="form-floating mb-3">
                                                                    <input type="text" class="form-control" id="postcode" placeholder="Enter Postcode" value="NG25 5AY">
                                                                    <label for="postcode">Postcode</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                                                                <div class="form-floating mb-3">
                                                                    <input type="text" class="form-control" id="country" placeholder="Enter Country" value="United Kingdom">
                                                                    <label for="country">Country</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="step-3" class="tab-pane px-0" role="tabpanel" aria-labelledby="step-3">
                                                <div class="row my-2">
                                                    <div class="col-6 col-md-3 col-lg-3 col-xl-3 mb-4">
                                                        <div class="card h-100 bg-theme-1-subtle theme-blue selectable anyone">
                                                            <div class="card-body">
                                                                <div class="avatar avatar-60 rounded bg-theme-1 mb-3">
                                                                    <i class="bi bi-house h4"></i>
                                                                </div>
                                                                <h6 class="text-theme-1">Home</h6>
                                                                <p class="opacity-50">I want to buy a own home</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-md-3 col-lg-3 col-xl-3 mb-4">
                                                        <div class="card h-100 bg-theme-1-subtle theme-purple selectable anyone">
                                                            <div class="card-body">
                                                                <div class="avatar avatar-60 rounded bg-theme-1 mb-3">
                                                                    <i class="bi bi-people h4"></i>
                                                                </div>
                                                                <h6 class="text-theme-1">Family</h6>
                                                                <p class="opacity-50">I need regular saving for family</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-md-3 col-lg-3 col-xl-3 mb-4">
                                                        <div class="card h-100 bg-theme-1-subtle theme-red selectable anyone">
                                                            <div class="card-body">
                                                                <div class="avatar avatar-60 rounded bg-theme-1 mb-3">
                                                                    <i class="bi bi-mortarboard h4"></i>
                                                                </div>
                                                                <h6 class="text-theme-1">Education</h6>
                                                                <p class="opacity-50">Creating planning for kids</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-md-3 col-lg-3 col-xl-3 mb-4">
                                                        <div class="card h-100 bg-theme-1-subtle theme-orange selectable anyone">
                                                            <div class="card-body">
                                                                <div class="avatar avatar-60 rounded bg-theme-1 mb-3">
                                                                    <i class="bi bi-luggage h4"></i>
                                                                </div>
                                                                <h6 class="text-theme-1">Vacation</h6>
                                                                <p class="opacity-50">Planning for trip</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-md-3 col-lg-3 col-xl-3 mb-4">
                                                        <div class="card h-100 bg-theme-1-subtle theme-brown selectable anyone">
                                                            <div class="card-body">
                                                                <div class="avatar avatar-60 rounded bg-theme-1 mb-3">
                                                                    <i class="bi bi-person-walking h4"></i>
                                                                </div>
                                                                <h6 class="text-theme-1">Retirement</h6>
                                                                <p class="opacity-50">Planning for better future</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-md-3 col-lg-3 col-xl-3 mb-4">
                                                        <div class="card h-100 bg-theme-1-subtle theme-teal selectable anyone">
                                                            <div class="card-body">
                                                                <div class="avatar avatar-60 rounded bg-theme-1 mb-3">
                                                                    <i class="bi bi-puzzle h4"></i>
                                                                </div>
                                                                <h6 class="text-theme-1">Other</h6>
                                                                <p class="opacity-50">I have independent self plan</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3 mb-4">
                                                        <div class="card h-100">
                                                            <div class="card-body z-index-1">
                                                                <h4 class="fw-normal mb-3">What is your goal name?</h4>
                                                                <div class="form-floating text-dark">
                                                                    <input type="text" class="form-control" id="name" placeholder="Enter name">
                                                                    <label for="name">Name</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-3 col-lg-3 col-xl-3 mb-4">
                                                        <div class="card adminuiux-card position-relative overflow-hidden bg-theme-1 h-100">
                                                            <div class="position-absolute top-0 start-0 h-100 w-100 z-index-0 coverimg opacity-50">
                                                                <img src="assets/img/modern-ai-image/flamingo-4.jpg" alt="">
                                                            </div>
                                                            <div class="card-body z-index-1">
                                                                <h4 class="fw-normal mb-3">How much amount need for your goal?</h4>
                                                                <div class="form-floating text-dark">
                                                                    <input type="number" class="form-control" id="amount" placeholder="Enter amount">
                                                                    <label for="amount">Amount</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Include optional progressbar HTML -->
                                    <div class="progress bg-theme-1-subtle rounded-0">
                                        <div class="progress-bar bg-theme-accent-l-gradient h-100 rounded-0" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-auto">
                                <%= require('../partials/footer/index-footer.html').default %>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>


        <!-- Concatenated plugins -->
        <script src="assets/js/app.js"></script>

        <!-- Page Level js -->
        <script src="assets/js/investment/investment-onboarding.js"></script>

        <!-- Page Level js -->
        <%= require('../partials/footbody/footbody.html').default %>