<%= require('../partials/headbody/headbody.html').default %>
    <%= require('../partials/pageloader/investment-pageloader.html').default %>
        <%= require('../partials/header/investment-header.html').default %>

            <!-- page wrapper -->
            <div class="adminuiux-wrap">

                <!-- Standard sidebar -->
                <%= require('../partials/navigation/investment-sidebar.html').default %>

                    <main class="adminuiux-content has-sidebar" onclick="contentClick()">
                        <!-- body content of pages -->

                        <!-- breadcrumb -->
                        <div class="container-fluid mt-4">
                            <div class="row gx-3 align-items-center">
                                <div class="col-12 col-sm">
                                    <nav aria-label="breadcrumb" class="mb-2">
                                        <ol class="breadcrumb mb-0">
                                            <li class="breadcrumb-item bi"><a href="investment-dashboard.html"><i class="bi bi-house-door me-1 fs-14"></i> Dashboard</a></li>
                                            <li class="breadcrumb-item active bi" aria-current="page">Deposit</li>
                                        </ol>
                                    </nav>
                                    <h5>Deposit</h5>
                                </div>
                                <div class="col-12 col-sm-auto text-end py-3 py-sm-0">

                                </div>
                            </div>
                        </div>

                        <!-- content -->
                        <div class="container mt-4" id="main-content" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true">

                            <div class="position-sticky z-index-5 mb-4 adminuiux-header" style="top: 5rem;">
                                <nav class="navbar rounded p-1">
                                    <ul id="list-example" class="nav nav-pills bg-none">
                                        <li class="nav-item"><a class="nav-link" href="#list-item-1">My Deposit</a></li>
                                        <li class="nav-item mx-1"><a class="nav-link" href="#list-item-2">100% Guaranteed</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#list-item-3">Market Linked</a></li>
                                    </ul>
                                </nav>
                            </div>

                            <div class="row" id="list-item-1">

                                <!-- Fixed Deposit -->
                                <div class="col-12 col-xl-6 col-xxl-4">
                                    <div class="card adminuiux-card mb-4">
                                        <div class="card-body">
                                            <p class="mb-4"><span class="badge badge-light text-bg-theme-1 theme-green">Domestic Currency</span></p>
                                            <h5 class="fw-medium">Monthly Income</h5>
                                            <h1 class="fw-medium text-success">$ 250.00<small>/mo.</small> </h1>
                                            <p class="text-secondary mb-4">Interest Rate <span class="text-success fw-medium"><i class="bi bi-arrow-up-short"></i> 7.0%</span></p>
                                            <div class="row mb-4">
                                                <div class="col text-start ">
                                                    <h4 class="fw-medium">$ 10000.00</h4>
                                                    <p class="text-secondary">Investment</p>
                                                </div>
                                                <div class="col text-end ">
                                                    <h4 class="fw-medium">45 mo.</h4>
                                                    <p class="text-secondary">Tenure</p>
                                                </div>
                                            </div>
                                            <p class="text-secondary">2 year and 4 months remaining for maturity</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fixed Deposit -->
                                <div class="col-12 col-xl-6 col-xxl-4">
                                    <div class="card adminuiux-card mb-4">
                                        <div class="card-body">
                                            <p class="mb-4"><span class="badge badge-light text-bg-theme-1 theme-green">Domestic Currency</span></p>
                                            <h5 class="fw-medium">Lumpsum at Maturity</h5>
                                            <h1 class="fw-medium text-success">$ 12500.00 </h1>
                                            <p class="text-secondary mb-4">Interest Rate <span class="text-success fw-medium"><i class="bi bi-arrow-up-short"></i> 6.5%</span></p>
                                            <div class="row mb-4">
                                                <div class="col text-start ">
                                                    <h4 class="fw-medium">$ 500.00</h4>
                                                    <p class="text-secondary">Monthly (on 15th day)</p>
                                                </div>
                                                <div class="col text-end ">
                                                    <h4 class="fw-medium">34 mo.</h4>
                                                    <p class="text-secondary">Tenure</p>
                                                </div>
                                            </div>
                                            <p class="text-secondary">1 year and 2 months remaining for maturity</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fixed Deposit -->
                                <div class="col-12 col-xl-6 col-xxl-4">
                                    <div class="card adminuiux-card mb-4">
                                        <div class="card-body">
                                            <div class="row mb-3">
                                                <div class="col text-start ">
                                                    <p><span class="badge badge-light text-bg-theme-1">Forex</span> <span class="badge badge-light text-bg-theme-1 theme-orange">Cancellable</span></p>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="dropdown d-inline-block">
                                                        <a class="btn btn-link btn-square no-caret" data-bs-toggle="dropdown">
                                                            <i class="bi bi-three-dots"></i>
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-end">
                                                            <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                                            <li><a class="dropdown-item" href="javascript:void(0)">Raise Query</a></li>
                                                            <li><a class="dropdown-item theme-red" href="javascript:void(0)">Cancel</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <h5 class="fw-medium">Long Life Saving</h5>
                                            <h1 class="fw-medium text-success">£ 15510.00 </h1>
                                            <p class="text-secondary mb-4">Interest Rate <span class="text-success fw-medium"><i class="bi bi-arrow-up-short"></i> 7.0%</span></p>
                                            <div class="row mb-4">
                                                <div class="col text-start ">
                                                    <h4 class="fw-medium">£ 250.00</h4>
                                                    <p class="text-secondary">Monthly (on 10th day)</p>
                                                </div>
                                                <div class="col text-end ">
                                                    <h4 class="fw-medium">45 mo.</h4>
                                                    <p class="text-secondary">Tenure</p>
                                                </div>
                                            </div>
                                            <p class="text-secondary">Recurring deposit will continue until you cancel</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 ">
                                    <div class="row">
                                        <div class="col-12 col-lg-8 mb-4">
                                            <!-- create fixed deposit -->
                                            <div class="card adminuiux-card">
                                                <div class="card-header">
                                                    <h5>Create Deposit @ 7.00% </h5>
                                                    <p class="text-secondary">Start your money growing with smart investment</p>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row mb-2">
                                                        <div class="col-12 col-md-6 col-xl-4 mb-3">
                                                            <div class="form-floating">
                                                                <input type="text" class="form-control" id="amount" placeholder="Amount" value="100">
                                                                <label for="amount">Investment ($)</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-6 col-xl-4 mb-3">
                                                            <div class="form-floating">
                                                                <select class="form-select" id="typeinvestment">
                                                                    <option>Fixed Deposit</option>
                                                                    <option selected>Recurring Deposit</option>
                                                                </select>
                                                                <label for="typeinvestment">Type of Investment</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-6 col-xl-4 mb-3">
                                                            <div class="form-floating">
                                                                <select class="form-select" id="frequency1">
                                                                    <option selected>Monthly</option>
                                                                    <option>Quarterly</option>
                                                                    <option>Yearly</option>
                                                                </select>
                                                                <label for="frequency1">Deposit Frequency</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-6 col-xl-4 mb-3">
                                                            <div class="form-floating">
                                                                <select class="form-select" id="depositday">
                                                                    <option selected>1st</option>
                                                                    <option>2nd</option>
                                                                    <option>3rd</option>
                                                                </select>
                                                                <label for="depositday">Deposit on day</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-6 col-xl-4 mb-3">
                                                            <div class="form-floating">
                                                                <input type="text" class="form-control" id="duration" placeholder="Months" value="12">
                                                                <label for="duration">Duration (months)</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-6 col-xl-4 mb-3">
                                                            <div class="form-floating">
                                                                <select class="form-select" id="maturity">
                                                                    <option>Interest Monthly</option>
                                                                    <option>Interest Quarterly</option>
                                                                    <option>Interest Half Yearly</option>
                                                                    <option>Interest Yearly</option>
                                                                    <option selected>All on Maturity</option>
                                                                </select>
                                                                <label for="maturity">Withdraw</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row align-items-center">
                                                        <div class="col">
                                                            <h5>$ 1246.50</h5>
                                                            <p class="text-secondary small">Amount will be credited to wallet on maturity</p>
                                                        </div>
                                                        <div class="col-auto">
                                                            <button class="btn btn-theme">Create Deposit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4 mb-4">
                                            <!-- offer -->
                                            <div class="card adminuiux-card position-relative overflow-hidden bg-theme-1 h-100">
                                                <div class="position-absolute top-0 start-0 h-100 w-100 z-index-0 coverimg opacity-50">
                                                    <img src="assets/img/modern-ai-image/flamingo-4.jpg" alt="">
                                                </div>
                                                <div class="card-body z-index-1">
                                                    <div class="avatar avatar-60 rounded bg-white-opacity text-white mb-4">
                                                        <i class="bi bi-tags h4"></i>
                                                    </div>
                                                    <h2>Great Offer!</h2>
                                                    <h4 class="fw-medium">You have <b>LOAN</b> of <b>$ 800000.00</b> offer from HSBCD Bank</h4>
                                                    <p class="mb-4">No documentation required...</p>
                                                    <button class="btn btn-light my-1">Apply Now</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- guaranteed plans -->
                            <div class="row" id="list-item-2">
                                <div class="col-12 mb-4">
                                    <h5>100% Guaranteed Plans</h5>
                                </div>
                                <div class="col-12 mb-2">
                                    <div class="card adminuiux-card mb-3">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-12 col-sm-9 col-xxl mb-3 mb-xxl-0">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar avatar-60 rounded coverimg">
                                                                <img src="assets/img/modern-ai-image/shooping-5.jpg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <h5>Guaranteed Return Plan</h5>
                                                            <span class="badge badge-light text-bg-theme-1">5 Year Payment</span>
                                                            <span class="badge badge-light text-bg-success mx-1">Pay Monthly</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-3 col-xxl-auto mb-3 mb-sm-0">
                                                    <h5>$ 6.0 L</h5>
                                                    <p class="text-secondary small">You will give</p>
                                                </div>
                                                <div class="col-12 col-md-9 col-xxl-4 mb-3 mb-md-0">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row align-items-center justify-content-between">
                                                                <div class="col-auto text-start">
                                                                    <h5 class="mb-1">7.2%
                                                                        <small>
                                                                            <span class="badge badge-sm badge-light text-bg-success mx-1 fw-normal">Tax Free</span>
                                                                        </small>
                                                                    </h5>
                                                                    <p class="text-secondary small">You get</p>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="bi bi-plus-lg"></i>
                                                                </div>
                                                                <div class="col-auto text-end">
                                                                    <h5>$ 10.0 L</h5>
                                                                    <p class="text-secondary small">in 10 years</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-outline-theme">Get Details</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card adminuiux-card mb-3 border border-theme-1 theme-orange position-relative">
                                        <span class="ribbon bg-theme-1 position-absolute top-0 start-0 z-index-1">5% OFF</span>
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-12 col-sm-9 col-xxl mb-3 mb-xxl-0">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar avatar-60 rounded coverimg">
                                                                <img src="assets/img/modern-ai-image/shopping-1.jpg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <h5>iSelect Guaranteed Scheme</h5>
                                                            <span class="badge badge-light text-bg-theme-1">7 Year Payment</span>
                                                            <span class="badge badge-light text-bg-success mx-1">Pay Yearly</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-3 col-xxl-auto mb-3 mb-sm-0">
                                                    <h5>$ 7.77 L</h5>
                                                    <p class="text-secondary small">You will give</p>
                                                </div>
                                                <div class="col-12 col-md-9 col-xxl-4 mb-3 mb-md-0">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row align-items-center justify-content-between">
                                                                <div class="col-auto text-start">
                                                                    <h5 class="mb-1">6.80%
                                                                        <small>
                                                                            <span class="badge badge-sm badge-light text-bg-success mx-1 fw-normal">Tax Free</span>
                                                                        </small>
                                                                    </h5>
                                                                    <p class="text-secondary small">You get</p>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="bi bi-plus-lg"></i>
                                                                </div>
                                                                <div class="col-auto text-end">
                                                                    <h5>$ 25.0 L</h5>
                                                                    <p class="text-secondary small">in 20 years</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-outline-theme">Get Details</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card adminuiux-card mb-3">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-12 col-sm-9 col-xxl mb-3 mb-xxl-0">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar avatar-60 rounded coverimg">
                                                                <img src="assets/img/modern-ai-image/shopping-2.jpg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <h5>Guaranteed income for retirement</h5>
                                                            <span class="badge badge-light text-bg-theme-1">10 Year Payment</span>
                                                            <span class="badge badge-light text-bg-success mx-1">Pay Monthly</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-3 col-xxl-auto mb-3 mb-sm-0">
                                                    <h5>$ 10.0 L</h5>
                                                    <p class="text-secondary small">You will give</p>
                                                </div>
                                                <div class="col-12 col-md-9 col-xxl-4 mb-3 mb-md-0">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row align-items-center justify-content-between">
                                                                <div class="col-auto text-start">
                                                                    <h5 class="mb-1">7.65%
                                                                        <small>
                                                                            <span class="badge badge-sm badge-light text-bg-success mx-1 fw-normal">Tax Free</span>
                                                                        </small>
                                                                    </h5>
                                                                    <p class="text-secondary small">You get</p>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="bi bi-plus-lg"></i>
                                                                </div>
                                                                <div class="col-auto text-end">
                                                                    <h5>$ 16.25 L</h5>
                                                                    <p class="text-secondary small">in 12 years</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-outline-theme">Get Details</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card adminuiux-card mb-3">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-12 col-sm-9 col-xxl mb-3 mb-xxl-0">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar avatar-60 rounded coverimg">
                                                                <img src="assets/img/modern-ai-image/shopping-3.jpg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <h5>Smart Saving Guaranteed</h5>
                                                            <span class="badge badge-light text-bg-theme-1">5 Year Payment</span>
                                                            <span class="badge badge-light text-bg-success mx-1">Pay Yearly</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-3 col-xxl-auto mb-3 mb-sm-0">
                                                    <h5>$ 8.0 L</h5>
                                                    <p class="text-secondary small">You will give</p>
                                                </div>
                                                <div class="col-12 col-md-9 col-xxl-4 mb-3 mb-md-0">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row align-items-center justify-content-between">
                                                                <div class="col-auto text-start">
                                                                    <h5 class="mb-1">7.0%
                                                                        <small>
                                                                            <span class="badge badge-sm badge-light text-bg-success mx-1 fw-normal">Tax Free</span>
                                                                        </small>
                                                                    </h5>
                                                                    <p class="text-secondary small">You get</p>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="bi bi-plus-lg"></i>
                                                                </div>
                                                                <div class="col-auto text-end">
                                                                    <h5>$ 12.0 L</h5>
                                                                    <p class="text-secondary small">in next 5 years</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-outline-theme">Get Details</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="list-item-3">
                                <div class="col-12 mb-4">
                                    <h5>Market Linked Plans</h5>
                                </div>
                                <div class="col-12">
                                    <!-- search fields -->
                                    <div class="card adminuiux-card mb-4">
                                        <div class="card-body pb-0">
                                            <div class="row">
                                                <div class="col-12 col-md-6 col-lg-4 mb-3">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control" id="amount2" placeholder="Amount" value="10000">
                                                        <label for="amount2">Investment ($)</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-4 mb-3">
                                                    <div class="form-floating">
                                                        <select class="form-select" id="typeinvestment2">
                                                            <option>5 Year</option>
                                                            <option selected>10 Year</option>
                                                        </select>
                                                        <label for="typeinvestment2">Invest for</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-4 mb-3">
                                                    <div class="form-floating">
                                                        <select class="form-select" id="frequency">
                                                            <option selected>Monthly</option>
                                                            <option>Quarterly</option>
                                                            <option>Yearly</option>
                                                        </select>
                                                        <label for="frequency">Deposit Frequency</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card adminuiux-card mb-3">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-12 col-sm-9 col-xxl mb-3 mb-xxl-0">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar avatar-60 rounded coverimg">
                                                                <img src="assets/img/modern-ai-image/tree-3.jpg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <h5>Guaranteed Return Plan</h5>
                                                            <span class="badge badge-light text-bg-theme-1">5 Year Payment</span>
                                                            <span class="badge badge-light text-bg-success mx-1">Pay Monthly</span>
                                                            <span class="badge badge-light text-bg-warning">Gift Nifty 50 Fund</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-3 col-xxl-auto mb-3 mb-sm-0">
                                                    <h5>$ 6.0 L</h5>
                                                    <p class="text-secondary small">You will give</p>
                                                </div>
                                                <div class="col-12 col-md-9 col-xxl-4 mb-3 mb-md-0">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row align-items-center justify-content-between">
                                                                <div class="col-auto text-start">
                                                                    <h5 class="mb-1">30.2%
                                                                        <small>
                                                                            <span class="badge badge-sm badge-light text-bg-success mx-1 fw-normal">Tax Free</span>
                                                                        </small>
                                                                    </h5>
                                                                    <p class="text-secondary small">10 Yr Returns*</p>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="bi bi-plus-lg"></i>
                                                                </div>
                                                                <div class="col-auto text-end">
                                                                    <h5>$ 10.0 Cr</h5>
                                                                    <p class="text-secondary small">in 30 years</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-outline-theme">Get Details</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card adminuiux-card mb-3">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-12 col-sm-9 col-xxl mb-3 mb-xxl-0">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar avatar-60 rounded coverimg">
                                                                <img src="assets/img/modern-ai-image/tree-1.jpg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <h5>iSelect Guaranteed Scheme</h5>
                                                            <span class="badge badge-light text-bg-theme-1">7 Year Payment</span>
                                                            <span class="badge badge-light text-bg-success mx-1">Pay Yearly</span>
                                                            <span class="badge badge-light text-bg-warning">Jacky's 100 Fund</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-3 col-xxl-auto mb-3 mb-sm-0">
                                                    <h5>$ 7.77 L</h5>
                                                    <p class="text-secondary small">You will give</p>
                                                </div>
                                                <div class="col-12 col-md-9 col-xxl-4 mb-3 mb-md-0">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row align-items-center justify-content-between">
                                                                <div class="col-auto text-start">
                                                                    <h5 class="mb-1">26.80%
                                                                        <small>
                                                                            <span class="badge badge-sm badge-light text-bg-success mx-1 fw-normal">Tax Free</span>
                                                                        </small>
                                                                    </h5>
                                                                    <p class="text-secondary small">10 Yr Returns*</p>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="bi bi-plus-lg"></i>
                                                                </div>
                                                                <div class="col-auto text-end">
                                                                    <h5>$ 25.0 cr</h5>
                                                                    <p class="text-secondary small">in 20 years</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-outline-theme">Get Details</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card adminuiux-card mb-3 border border-theme-1 theme-green position-relative">
                                        <span class="ribbon bg-theme-1 position-absolute top-0 end-0 z-index-1">Recommended</span>
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-12 col-sm-9 col-xxl mb-3 mb-xxl-0">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar avatar-60 rounded coverimg">
                                                                <img src="assets/img/modern-ai-image/tree-10.jpg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <h5>Guaranteed income for retirement</h5>
                                                            <span class="badge badge-light text-bg-theme-1">10 Year Payment</span>
                                                            <span class="badge badge-light text-bg-success mx-1">Pay Monthly</span>
                                                            <span class="badge badge-light text-bg-warning">Nifty Consumer 100 Fund</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-3 col-xxl-auto mb-3 mb-sm-0">
                                                    <h5>$ 10.0 L</h5>
                                                    <p class="text-secondary small">You will give</p>
                                                </div>
                                                <div class="col-12 col-md-9 col-xxl-4 mb-3 mb-md-0">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row align-items-center justify-content-between">
                                                                <div class="col-auto text-start">
                                                                    <h5 class="mb-1">37.65%
                                                                        <small>
                                                                            <span class="badge badge-sm badge-light text-bg-success mx-1 fw-normal">Tax Free</span>
                                                                        </small>
                                                                    </h5>
                                                                    <p class="text-secondary small">10 Yr Returns*</p>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="bi bi-plus-lg"></i>
                                                                </div>
                                                                <div class="col-auto text-end">
                                                                    <h5>$ 16.25 Cr</h5>
                                                                    <p class="text-secondary small">in 22 years</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-outline-theme">Get Details</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card adminuiux-card mb-3">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-12 col-sm-9 col-xxl mb-3 mb-xxl-0">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar avatar-60 rounded coverimg">
                                                                <img src="assets/img/modern-ai-image/tree-21.jpg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <h5>Smart Saving Guaranteed</h5>
                                                            <span class="badge badge-light text-bg-theme-1">5 Year Payment</span>
                                                            <span class="badge badge-light text-bg-success mx-1">Pay Yearly</span>
                                                            <span class="badge badge-light text-bg-warning">Nifty 100, 50 Fund</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-3 col-xxl-auto mb-3 mb-sm-0">
                                                    <h5>$ 8.0 L</h5>
                                                    <p class="text-secondary small">You will give</p>
                                                </div>
                                                <div class="col-12 col-md-9 col-xxl-4 mb-3 mb-md-0">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row align-items-center justify-content-between">
                                                                <div class="col-auto text-start">
                                                                    <h5 class="mb-1">29.0%
                                                                        <small>
                                                                            <span class="badge badge-sm badge-light text-bg-success mx-1 fw-normal">Tax Free</span>
                                                                        </small>
                                                                    </h5>
                                                                    <p class="text-secondary small">10 Yr Returns*</p>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="bi bi-plus-lg"></i>
                                                                </div>
                                                                <div class="col-auto text-end">
                                                                    <h5>$ 12.0 Cr</h5>
                                                                    <p class="text-secondary small">in next 25 years</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-outline-theme">Get Details</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>

            </div>

            <!-- page footer -->
            <%= require('../partials/footer/investment-footer.html').default %>
                <%= require('../partials/offcanvas/theming.html').default %>

                    <!-- Page Level js -->
                    <%= require('../partials/footbody/footbody.html').default %>