<%= require('../partials/headbody/headbody.html').default %>
    <%= require('../partials/pageloader/investment-pageloader.html').default %>
        <%= require('../partials/header/investment-header.html').default %>

            <!-- page wrapper -->
            <div class="adminuiux-wrap">

                <!-- Standard sidebar -->
                <%= require('../partials/navigation/investment-sidebar.html').default %>

                    <main class="adminuiux-content has-sidebar" onclick="contentClick()">
                        <!-- body content of pages -->

                        <!-- breadcrumb -->
                        <div class="container-fluid mt-4">
                            <div class="row gx-3 align-items-center">
                                <div class="col col-sm">
                                    <nav aria-label="breadcrumb" class="mb-2">
                                        <ol class="breadcrumb mb-0">
                                            <li class="breadcrumb-item bi"><a href="investment-dashboard.html"><i class="bi bi-house-door me-1 fs-14"></i> Dashboard</a></li>
                                            <li class="breadcrumb-item active bi" aria-current="page">My Loans</li>
                                        </ol>
                                    </nav>
                                    <h5>My Loans</h5>
                                </div>
                                <div class="col-auto px-0">
                                    <select class="form-select">
                                        <option selected>All 3 Loans</option>
                                        <option>Home Loan 1</option>
                                        <option>Home loan 2</option>
                                        <option>Home loan 3</option>
                                    </select>
                                </div>
                                <div class="col-auto col-sm-auto">
                                    <a href="investment-loan-request.html" class="btn btn-theme">Loan Request <i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>

                        <!-- content -->
                        <div class="container mt-4" id="main-content">
                            <!-- pending request form complete-->
                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                <strong>Complete pending form!</strong> Please <a href="investment-loan-request.html">complete</a> your loan request form and submit for proceeding.
                                <button type=" button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>

                            <div class="row">

                                <!-- loan -->
                                <div class="col-6 col-md-6 col-lg-3">
                                    <div class="card adminuiux-card mb-4">
                                        <div class="card-body z-index-1">
                                            <div class="avatar avatar-60 bg-theme-1-subtle text-theme-1 rounded mb-3"><i class="bi bi-bank h4"></i></div>
                                            <h4 class="fw-medium">$20,500.00</h4>
                                            <p><span class="text-secondary">Active loan:</span> <b>3</b> <span class="text-success">@13.5%</span> interest</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- amount disbursed -->
                                <div class="col-6 col-md-6 col-lg-3">
                                    <div class="card adminuiux-card theme-teal mb-4">
                                        <div class="card-body z-index-1">
                                            <div class="avatar avatar-60 bg-theme-1-subtle text-theme-1 rounded mb-3"><i class="bi bi-cash-coin h4"></i></div>
                                            <h4 class="fw-medium">$25,400.00</h4>
                                            <p><span class="text-secondary">Disbursed:</span> <b>2 Loans</b> <small class="text-secondary">in last 1mo.</small></p>
                                        </div>
                                    </div>
                                </div>

                                <!-- property -->
                                <div class="col-6 col-md-6 col-lg-3">
                                    <div class="card adminuiux-card theme-orange mb-4">
                                        <div class="card-body z-index-1">
                                            <div class="avatar avatar-60 bg-theme-1-subtle text-theme-1 rounded mb-3"><i class="bi bi-houses h4"></i></div>
                                            <h4 class="fw-medium">3 <small class="text-secondary fw-normal">Properties</small></h4>
                                            <p><span class="text-secondary">Active:</span> <b>3<span class="text-secondary">/5</span></b> <span class="text-success">@13.5%</span> interest</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Applied -->
                                <div class="col-6 col-md-6 col-lg-3">
                                    <div class="card adminuiux-card theme-purple mb-4">
                                        <div class="card-body z-index-1">
                                            <div class="avatar avatar-60 bg-theme-1-subtle text-theme-1 rounded mb-3"><i class="bi bi-file-earmark-check h4"></i></div>
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <h4 class="fw-medium">2 <small class="text-secondary fw-normal">files</small></h4>
                                                    <p><span class="text-secondary">Loan applications</p>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-square btn-link"><i class="bi bi-arrow-right"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- chart -->
                                <div class="col-12 col-md-12 col-xl-12 col-xxl-9 mb-4">
                                    <div class="card adminuiux-card">
                                        <div class="card-header">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <h6>Loan re-payment flow</h6>
                                                </div>
                                                <div class="col-auto px-0">
                                                    <select class="form-select form-select-sm">
                                                        <option>USD</option>
                                                        <option>CAD</option>
                                                        <option>AUD</option>
                                                    </select>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-sm btn-square btn-link"><i class="bi bi-arrow-clockwise"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body pb-0">
                                            <div class="height-210 mb-3">
                                                <canvas id="areachartblue1"></canvas>
                                            </div>
                                            <div class="row align-items-center">
                                                <div class="col-6 col-md-6 col-lg mb-3">
                                                    <div class="card adminuiux-card bg-theme-1 theme-teal">
                                                        <div class="card-body z-index-1">
                                                            <h4 class="fw-medium">$4,900.50</h4>
                                                            <p class="">7<small class="opacity-75">/240</small> EMI </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-6 col-lg mb-3">
                                                    <div class="card adminuiux-card bg-theme-1-subtle">
                                                        <div class="card-body z-index-1">
                                                            <h4 class="fw-medium text">$3560.50</h4>
                                                            <p class="opacity-75">Principle <span class="text-success fs-14"><i class="bi bi-arrow-up"></i>@5.0%</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-6 col-lg mb-3">
                                                    <div class="card adminuiux-card bg-theme-1-subtle theme-orange">
                                                        <div class="card-body z-index-1">
                                                            <h4 class="fw-medium">$2410.00</h4>
                                                            <p class="text-secondary">Interest <span class="text-success fs-14"><i class="bi bi-arrow-up"></i>@5.0%</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- quick request -->
                                <div class="col-12 col-lg-12 col-xl-6 col-xxl-3 mb-4">
                                    <div class="card adminuiux-card bg-theme-1">
                                        <div class="card-body">
                                            <div class="row align-items-center mb-3">
                                                <div class="col-auto">
                                                    <i class="bi bi-house avatar avatar-50 h4 bg-white-opacity rounded"></i>
                                                </div>
                                                <div class="col">
                                                    <h5 class="mb-0 fw-medium"> Home loan offer</h5>
                                                    <p class="fw-medium">HSBCD Bank</p>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-auto mb-3">
                                                    <h4 class="mb-1">9.55%</h4>
                                                    <p class="small opacity-75">Interest Rate</p>
                                                </div>
                                                <div class="col text-end mb-3">
                                                    <p class="my-1">5-20 years</p>
                                                    <p class="small opacity-75"><i class="bi bi-calendar-event me-1"></i> Tenure</p>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col mb-3">
                                                    <p class="opacity-75 small mb-2">Loan amount (USD):</p>
                                                    <input type="number" class="form-control form-control-lg" id="ihave" placeholder="Loan Amount..." value="10000.00">
                                                </div>
                                                <div class="col-5 mb-3">
                                                    <p class="opacity-75 small mb-2">Tenure (Yrs):</p>
                                                    <select class="form-select form-select-lg">
                                                        <option>5</option>
                                                        <option>10</option>
                                                        <option>15</option>
                                                        <option>20</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="text-center">
                                                <h6 class="fw-normal"><b class="fw-bold">Great!</b> Your EMI will be</h6>
                                                <h1 class="mb-0">130.00<small class="fw-normal fs-14">/month</small></h1>
                                                <p class="opacity-75 small mb-3">in United State Dollar</p>
                                                <button class="btn btn-outline-white text-white border">Raise Loan Request <i class="bi bi-arrow-right"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12 col-lg-12 col-xl-6 col-xxl-12">
                                    <div class="row">
                                        <!-- loan 1 -->
                                        <div class="col-12 col-md-6 col-lg-4 col-xl-12 col-xxl-3">
                                            <div class="card adminuiux-card mb-4">
                                                <div class="card-header border-bottom">
                                                    <div class="row gx-3 align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar avatar-50 bg-theme-1-subtle text-theme-1 rounded"><i class="bi bi-house h5"></i></div>
                                                        </div>
                                                        <div class="col">
                                                            <a href="investment-loan-details.html" class="style-none">
                                                                <h5 class="mb-0">Home loan 1</h5>
                                                            </a>
                                                            <p class="text-secondary small">Loan Account: xx-5269</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body z-index-1">
                                                    <div class="row gx-3 align-items-center">
                                                        <div class="col">
                                                            <h4 class="fw-medium mb-0">$ 12500.00</h4>
                                                            <p class="text-secondary small">Paid 4 <span class="opacity-75">/150</span> EMI, Interest Rate @11.05%</p>
                                                        </div>
                                                        <div class="col-auto">
                                                            <a href="investment-loan-details.html" class="btn btn-square btn-link"><i class="bi bi-arrow-right"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- loan 2 -->
                                        <div class="col-12 col-md-6 col-lg-4 col-xl-6 col-xxl-3">
                                            <div class="card adminuiux-card mb-4">
                                                <div class="card-header border-bottom">
                                                    <div class="row gx-3 align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar avatar-50 bg-theme-1-subtle text-theme-1 rounded"><i class="bi bi-house h5"></i></div>
                                                        </div>
                                                        <div class="col">
                                                            <a href="investment-loan-details.html" class="style-none">
                                                                <h5 class="mb-0">Home loan 2</h5>
                                                            </a>
                                                            <p class="text-secondary small">Loan Account: xx-1211</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body z-index-1">
                                                    <div class="row gx-3 align-items-center">
                                                        <div class="col">
                                                            <h4 class="fw-medium mb-0">$ 8300.00</h4>
                                                            <p class="text-secondary small">Paid 2 <span class="opacity-75">/64</span> EMI, Interest Rate @13.50%</p>
                                                        </div>
                                                        <div class="col-auto">
                                                            <a href="investment-loan-details.html" class="btn btn-square btn-link"><i class="bi bi-arrow-right"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- loan 3 -->
                                        <div class="col-12 col-md-6 col-lg-4 col-xl-6 col-xxl-3">
                                            <div class="card border-theme-1 theme-yellow mb-4">
                                                <div class="card-header bg-theme-1-subtle border-bottom">
                                                    <div class="row gx-3 align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar avatar-50 bg-theme-1-subtle text-theme-1 rounded"><i class="bi bi-arrow-clockwise h4"></i></div>
                                                        </div>
                                                        <div class="col">
                                                            <a href="investment-loan-under-process-details.html" class="style-none text-theme-1">
                                                                <h5 class="mb-0">Processing...</h5>
                                                            </a>
                                                            <p class="text-secondary small">Loan Account: xx-3424</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body z-index-1">
                                                    <div class="row gx-3 align-items-center">
                                                        <div class="col">
                                                            <h4 class="fw-medium mb-0">$ 9200.00</h4>
                                                            <p class="text-secondary small">$ 140.00 EMI, Interest Rate @12.00%</p>
                                                        </div>
                                                        <div class="col-auto">
                                                            <a href="investment-loan-under-process-details.html" class="btn btn-square btn-link"><i class="bi bi-arrow-right"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- loan completed -->
                                        <div class="col-12 col-md-6 col-lg-4 col-xl-6 col-xxl-3">
                                            <div class="card border-theme-1 theme-green overflow-hidden mb-4">
                                                <div class="card-header border-bottom bg-theme-1-subtle">
                                                    <div class="row gx-3 align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar avatar-50 bg-theme-1-subtle text-theme-1 rounded"><i class="bi bi-house h5"></i></div>
                                                        </div>
                                                        <div class="col">
                                                            <a href="investment-loan-details.html" class="style-none text-theme-1">
                                                                <h5 class="mb-0">Home loan 4</h5>
                                                            </a>
                                                            <p class="text-secondary small">Loan Account: xx-2525</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body z-index-1  bg-theme-1-subtle">
                                                    <div class="row gx-3 align-items-center">
                                                        <div class="col">
                                                            <h4 class="fw-medium mb-0">$ 11200.00</h4>
                                                            <p class="text-secondary small">This loan is full paid & completed on 1st January 2024</p>
                                                        </div>
                                                        <div class="col-auto">
                                                            <a href="investment-loan-details.html" class="btn btn-square btn-link"><i class="bi bi-arrow-right"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- EMI transaction -->
                                <div class="col-12 col-md-6 col-lg-6 mb-4">
                                    <div class="card adminuiux-card">
                                        <div class="card-header">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <h6>EMI Transaction</h6>
                                                </div>
                                                <div class="col-auto px-0">
                                                    <a class="btn btn-sm btn btn-link">See All</a>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-sm btn-outline-theme"><i class="bi bi-arrow-up-right me-1"></i> Bulk Pay</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- EMI transaction list -->
                                        <ul class="list-group list-group-flush border-top bg-none">
                                            <li class="list-group-item">
                                                <div class="row gx-3 align-items-center">
                                                    <div class="col">
                                                        <p class="mb-1 fw-medium">Home loan 1</p>
                                                        <p class="text-secondary small">Due date 25 July 2025</p>
                                                    </div>
                                                    <div class="col-auto text-end">
                                                        <h6 class="text-success">$ 450.00</h6>
                                                        <div class="badge badge-sm badge-light text-bg-warning">Upcoming</div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <button class="avatar avatar-40 rounded-circle border border-theme-1 bg-theme-1-subtle text-theme-1">
                                                            <i class="bi bi-arrow-up-right h5"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row gx-3 align-items-center">
                                                    <div class="col">
                                                        <p class="mb-1 fw-medium">Home loan 2</p>
                                                        <p class="text-secondary small">Due date 15 July 2025</p>
                                                    </div>
                                                    <div class="col-auto text-end">
                                                        <h6 class="text-success">$ 530.00</h6>
                                                        <div class="badge badge-sm badge-light text-bg-warning">Upcoming</div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <button class="avatar avatar-40 rounded-circle border border-theme-1 bg-theme-1-subtle text-theme-1">
                                                            <i class="bi bi-arrow-up-right h5"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row gx-3 align-items-center">
                                                    <div class="col">
                                                        <p class="mb-1 fw-medium">Home loan 3</p>
                                                        <p class="text-secondary small">Due date 12 July 2025</p>
                                                    </div>
                                                    <div class="col-auto text-end">
                                                        <h6 class="text-success">$ 450.00</h6>
                                                        <div class="badge badge-sm badge-light text-bg-warning">Upcoming</div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <button class="avatar avatar-40 rounded-circle border border-theme-1 bg-theme-1-subtle text-theme-1">
                                                            <i class="bi bi-arrow-up-right h5"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row gx-3 align-items-center">
                                                    <div class="col-auto">
                                                        <div class="avatar avatar-40 rounded-circle border">
                                                            <i class="bi bi-arrow-up-right h5"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <p class="mb-1 fw-medium">Home loan 1</p>
                                                        <p class="text-secondary small">25 June 2025, 12:50 PM</p>
                                                    </div>
                                                    <div class="col-auto">
                                                        <h6>- $ 450.00</h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row gx-3 align-items-center">
                                                    <div class="col-auto">
                                                        <div class="avatar avatar-40 rounded-circle border">
                                                            <i class="bi bi-arrow-up-right h5"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <p class="mb-1 fw-medium">Home loan 2</p>
                                                        <p class="text-secondary small">15 June 2025, 12:50 PM</p>
                                                    </div>
                                                    <div class="col-auto">
                                                        <h6>- $ 530.00</h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="row gx-3 align-items-center">
                                                    <div class="col-auto">
                                                        <div class="avatar avatar-40 rounded-circle border">
                                                            <i class="bi bi-arrow-up-right h5"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <p class="mb-1 fw-medium">Home loan 3</p>
                                                        <p class="text-secondary small">12 June 2025, 12:50 PM</p>
                                                    </div>
                                                    <div class="col-auto">
                                                        <h6>- $ 450.00</h6>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- actions timeline -->
                                <div class="col-12 col-md-6 col-lg-6 col-xxl-3 mb-4">
                                    <div class="card adminuiux-card">
                                        <div class="card-header">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <h6>Loan Status</h6>
                                                </div>
                                                <div class="col-5">
                                                    <select class="form-select form-select-sm">
                                                        <option>All Status</option>
                                                        <option>Application XX-2652</option>
                                                        <option>Application XX-2660</option>
                                                        <option>Loan XX-0358</option>
                                                        <option>Loan XX-5269</option>
                                                        <option>Loan XX-1211</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body height-dynamic overflow-y-auto" style="--h-dynamic:410px">
                                            <ul class="timeline circle">
                                                <li><span class="circle-dot bg-theme-1" data-bs-toggle="tooltip" aria-label="Normal" data-bs-original-title="Normal"></span>
                                                    <div>
                                                        <p class="h6 mb-2">9 June 2025 11:55 AM</p>
                                                        <p class="text-secondary small">Application disbursement letter allocated to applicant and email notification has been sent for the same.</p>
                                                    </div>
                                                </li>
                                                <li><span class="circle-dot bg-warning" data-bs-toggle="tooltip" aria-label="Better" data-bs-original-title="Better"></span>
                                                    <div>
                                                        <p class="h6 mb-2">7 June 2025 10:15 AM</p>
                                                        <p class="text-secondary small">EMI received for the loan account: XX-5269. Confirmation message and invoice will be delivered to your inbox in 24 hours.</p>
                                                    </div>
                                                </li>
                                                <li><span class="circle-dot bg-danger" data-bs-toggle="tooltip" aria-label="Critical" data-bs-original-title="Critical"></span>
                                                    <div>
                                                        <p class="h6 mb-2">6 June 2025 5:00 PM</p>
                                                        <p class="text-secondary small">Application has a updating request for your current address provided in application form. Error code suggest that there may be city code mismatch.</p>
                                                    </div>
                                                </li>
                                                <li><span class="circle-dot bg-theme-1"></span>
                                                    <div>
                                                        <p class="h6 mb-2">1 June 2025 11:55 AM</p>
                                                        <p class="text-secondary small">EMI received for the loan account: XX-1211. Confirmation message and invoice will be delivered to your inbox in 24 hours.</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- help center -->
                                <div class="col-12 col-md-6 col-lg-6 col-xxl-3 mb-4">
                                    <div class="card adminuiux-card">
                                        <div class="card-header">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <h6>Raise Query</h6>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-sm btn-outline-theme"><i class="bi bi-telephone"></i> Callback Me</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body overflow-y-auto chat-list height-dynamic" style="--h-dynamic:364px">
                                            <div class="row no-margin right-chat">
                                                <div class="col-12">
                                                    <div class="chat-block">
                                                        <div class="row">
                                                            <div class="col">Hi! Can you help me for account information?</div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-12 text-end">
                                                    <p class="text-secondary small time"><i class="bi bi-check"></i> 12:00 am</p>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center text-center">
                                                <div class="col-auto text-center">
                                                    <div class="alert alert-light mx-auto py-1 mb-3 small">26 July 2025</div>
                                                </div>
                                            </div>
                                            <div class="row no-margin left-chat">
                                                <div class="col-12">
                                                    <div class="chat-block">
                                                        <div class="row">
                                                            <div class="col">
                                                                <p class="small mb-2"><a href="" class="style-none">Alex Smith</a></p>
                                                                <p>Hi! <br>Select your loan account</p>
                                                            </div>
                                                        </div>
                                                        <ul class="list-group adminuiux-list-group mt-3">
                                                            <li class="list-group-item">
                                                                <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="firstRadio" checked="">
                                                                <label class="form-check-label stretched-link" for="firstRadio">Homeloan 1</label>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="secondRadio">
                                                                <label class="form-check-label stretched-link" for="secondRadio">Homeloan 2</label>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio">
                                                                <label class="form-check-label stretched-link" for="thirdRadio">Homeloan 3</label>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <p class="text-secondary small time"><i class="bi bi-check"></i> 9:00 pm</p>
                                                </div>
                                            </div>
                                            <div class="row no-margin left-chat">
                                                <div class="col-12">
                                                    <div class="chat-block">
                                                        <div class="row">
                                                            <div class="col">
                                                                <p class="small mb-2"><a href="" class="style-none">Alex Smith</a></p>
                                                                <p>Thank you for your response. Tell us more about your query</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <p class="text-secondary small time"><i class="bi bi-check"></i> 9:00 pm</p>
                                                </div>
                                            </div>
                                            <div class="row no-margin right-chat">
                                                <div class="col-12">
                                                    <div class="chat-block">
                                                        <div class="row">
                                                            <div class="col">Hello!<br>I wanted to know next due date and amount to pay.</div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-12 text-end">
                                                    <p class="text-secondary small time"><i class="bi bi-check"></i> 9:10 pm</p>
                                                </div>
                                            </div>
                                            <div class="row no-margin left-chat">
                                                <div class="col-12">
                                                    <div class="chat-block">
                                                        <div class="row">
                                                            <div class="col">
                                                                <p class="small mb-2"><a href="" class="style-none">Mr. Jack Mario</a></p>Adminuiux is amazing and we thank you. How can we buy?
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <p class="text-secondary small time"><i class="bi bi-check-all text-primary"></i> 8:00 pm</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="card-footer border-top p-1">
                                            <div class="input-group">
                                                <button class="btn btn-square btn-link"><i class="bi bi-emoji-smile"></i></button>
                                                <button class="btn btn-square btn-link"><i class="bi bi-paperclip"></i></button>
                                                <input class="form-control border-0" placeholder="Type your query here... " value="">
                                                <button class="btn btn-square btn-link" type="button"><i class="bi bi-send"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </main>

            </div>

            <!-- page footer -->
            <%= require('../partials/footer/investment-footer.html').default %>
                <%= require('../partials/offcanvas/theming.html').default %>

                    <!-- Page Level js -->
                    <script src="assets/js/investment/investment-loan-list.js"></script>

                    <%= require('../partials/footbody/footbody.html').default %>