<%= require('../partials/headbody/headbody.html').default %>
    <%= require('../partials/pageloader/investment-pageloader.html').default %>

        <main class="flex-shrink-0 pt-0 h-100">
            <div class="container-fluid">
                <div class="auth-wrapper">

                    <!--Page body-->
                    <!-- login wrap -->
                    <div class="row">
                        <div class="col-12 col-md-6 col-xl-4 minvheight-100 d-flex flex-column px-0">
                            <!-- standard header -->
                            <%= require('../partials/header/investment-auth-header.html').default %>

                                <div class="h-100 py-3 px-3">
                                    <div class="row h-100 align-items-center justify-content-center ">
                                        <div class="col-11 col-sm-8 col-md-11 col-xl-11 col-xxl-10 login-box">
                                            <div class="text-center mb-4">
                                                <h1 class="mb-3">Congratulations&#129395;</h1>
                                                <p class="text-secondary">You come so far and ready!</p>
                                            </div>

                                            <a href="investment-onboarding.html" class="btn btn-lg btn-outline-theme h-auto w-100 mb-3 text-start">
                                                <div class="row align-items-center p-2">
                                                    <div class="col-auto">
                                                        <i class="bi bi-journal-medical fs-2 h-auto w-auto"></i>
                                                    </div>
                                                    <div class="col">
                                                        <p class="h6 mb-0">Are you a investment?</p>
                                                        <p class="opacity-75 fs-14">Small investment with 1-5 staff</p>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="bi bi-chevron-right"></i>
                                                    </div>
                                                </div>
                                            </a>

                                            <a href="investment-onboarding.html" class="btn btn-lg btn-outline-theme h-auto w-100 mb-3 text-start">
                                                <div class="row align-items-center p-2">
                                                    <div class="col-auto">
                                                        <i class="bi bi-hospital fs-2 h-auto w-auto"></i>
                                                    </div>
                                                    <div class="col">
                                                        <p class="h6 mb-0">Are you a Broker?</p>
                                                        <p class="opacity-75 fs-14">Broker with 5+ staff</p>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="bi bi-chevron-right"></i>
                                                    </div>
                                                </div>
                                            </a>

                                        </div>
                                    </div>
                                </div>

                                <!-- standard footer -->
                                <%= require('../partials/footer/investment-auth-footer.html').default %>
                        </div>
                        <div class="col-12 col-md-6 col-xl-8 p-4 d-none d-md-block">
                            <div class="card adminuiux-card bg-theme-1-space position-relative overflow-hidden h-100">
                                <div class="position-absolute start-0 top-0 h-100 w-100 coverimg opacity-75 z-index-0">
                                    <img src="assets/img/background-image/background-image-8.jpg" alt="">
                                </div>
                                <div class="card-body position-relative z-index-1">
                                    <div class="row h-100 d-flex flex-column justify-content-center align-items-center gx-0 text-center">
                                        <div class="col-10 col-md-11 col-xl-8 mb-4 mx-auto">

                                            <!-- Slider container -->
                                            <div class="swiper swipernavpagination pb-5">
                                                <div class="swiper-wrapper">
                                                    <!-- Slides -->
                                                    <div class="swiper-slide">
                                                        <img src="assets/img/investment/slider.png" alt="" class="mw-100 mb-3">
                                                        <h2 class="text-white mb-3">Create and Manage your Investment appointments easily at your own very personalized space.</h2>
                                                        <p class="lead opacity-75">You are at the best Adminuiux Investment UX<br>HTML template demo preview</p>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <img src="assets/img/investment/slider.png" alt="" class="mw-100 mb-3">
                                                        <h2 class="text-white mb-3">Create and Manage your Investment appointments easily at your own very personalized space.</h2>
                                                        <p class="lead opacity-75">You are at the best Adminuiux Investment UX<br>HTML template demo preview</p>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <img src="assets/img/investment/slider.png" alt="" class="mw-100 mb-3">
                                                        <h2 class="text-white mb-3">Create and Manage your Investment appointments easily at your own very personalized space.</h2>
                                                        <p class="lead opacity-75">You are at the best Adminuiux Investment UX<br>HTML template demo preview</p>
                                                    </div>
                                                </div>
                                                <!-- pagination -->
                                                <div class="swiper-pagination white bottom-0"></div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>

        <!-- Page Level js -->
        <script src="assets/js/investment/investment-auth.js"></script>

        <%= require('../partials/footbody/footbody.html').default %>