<%= require('../partials/headbody/headbody.html').default %>
    <%= require('../partials/pageloader/investment-pageloader.html').default %>
        <%= require('../partials/header/investment-header.html').default %>

            <!-- page wrapper -->
            <div class="adminuiux-wrap">

                <!-- Standard sidebar -->
                <%= require('../partials/navigation/investment-sidebar.html').default %>

                    <main class="adminuiux-content has-sidebar" onclick="contentClick()">
                        <!-- body content of pages -->

                        <!-- breadcrumb -->
                        <div class="container-fluid mt-4">
                            <div class="row gx-3 align-items-center">
                                <div class="col-12 col-sm">
                                    <nav aria-label="breadcrumb" class="mb-2">
                                        <ol class="breadcrumb mb-0">
                                            <li class="breadcrumb-item bi"><a href="investment-dashboard.html"><i class="bi bi-house-door me-1 fs-14"></i> Dashboard</a></li>
                                            <li class="breadcrumb-item active bi" aria-current="page">Investment Plans</li>
                                        </ol>
                                    </nav>
                                    <h5>Investment Plans</h5>
                                </div>
                                <div class="col-12 col-sm-auto text-end py-3 py-sm-0">

                                </div>
                            </div>
                        </div>

                        <!-- Content  -->
                        <div class="container mt-4" id="main-content">

                            <div class="row">
                                <!-- basic requirements filter -->
                                <div class="col-12 col-md-12 col-xl-3">
                                    <div class="row align-items-center mb-4">
                                        <div class="col">
                                            <h5 class="">Age: 34</h5>
                                        </div>
                                        <div class="col-auto">
                                            <button class="btn btn-sm btn-square btn-outline-theme"><i class="bi bi-pencil"></i></button>
                                        </div>
                                    </div>
                                    <div class="card adminuiux-card mb-4">
                                        <div class="card-body pb-0">
                                            <div class="row">
                                                <div class="col-12 col-sm-6 col-xl-12 mb-3">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control" id="amount" placeholder="Amount" value="10000">
                                                        <label for="amount">Investment ($)</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6 col-xl-12 mb-3">
                                                    <div class="form-floating">
                                                        <select class="form-select" id="typeinvestment">
                                                            <option>5 Year</option>
                                                            <option selected="">10 Year</option>
                                                        </select>
                                                        <label for="typeinvestment">Invest for</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6 col-xl-12 mb-3">
                                                    <div class="form-floating">
                                                        <select class="form-select" id="frequency">
                                                            <option>One Time</option>
                                                            <option selected="">Monthly</option>
                                                            <option>Quarterly</option>
                                                            <option>Yearly</option>
                                                        </select>
                                                        <label for="frequency">Deposit Frequency</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-6 col-xl-12 mb-3">
                                                    <div class="form-floating">
                                                        <select class="form-select" id="typeinvestment2">
                                                            <option>5 Year</option>
                                                            <option selected="">10 Year</option>
                                                            <option>15 Year</option>
                                                            <option>16 Year</option>
                                                            <option>17 Year</option>
                                                            <option>18 Year</option>
                                                            <option>19 Year</option>
                                                            <option>20 Year</option>
                                                        </select>
                                                        <label for="typeinvestment2">Withdraw after</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group adminuiux-list-group list-group-flush bg-none mb-4">
                                        <a href="investment-deposit.html" class="list-group-item list-group-item-action">Deposit</a>
                                        <a href="investment-mutual-funds.html" class="list-group-item list-group-item-action">Mutual Funds</a>
                                        <a href="investment-company-shares.html" class="list-group-item list-group-item-action">Share Holdings</a>
                                    </div>
                                </div>
                                <!-- plans -->
                                <div class="col-12 col-md-12 col-xl-9">
                                    <h5 class="mb-4 text-center">Best Investment Plans</h5>
                                    <div class="card adminuiux-card mb-3">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-12 col-sm-9 col-xxl mb-3 mb-xxl-0">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar avatar-60 rounded coverimg">
                                                                <img src="assets/img/modern-ai-image/shooping-5.jpg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <h6>Guaranteed Return Plan</h6>
                                                            <span class="badge badge-sm badge-light text-bg-theme-1">5 Year Payment</span>
                                                            <span class="badge badge-sm badge-light text-bg-success mx-1">Pay Monthly</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-3 col-xxl-auto mb-3 mb-sm-0">
                                                    <h6>$ 6.0 L</h6>
                                                    <p class="text-secondary small">You will give</p>
                                                </div>
                                                <div class="col-12 col-md-9 col-xxl-4 mb-3 mb-md-0">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row align-items-center justify-content-between">
                                                                <div class="col-auto text-start">
                                                                    <h6 class="mb-1">7.2%
                                                                        <small>
                                                                            <span class="badge badge-sm badge-light text-bg-success mx-1 fw-normal">Tax Free</span>
                                                                        </small>
                                                                    </h6>
                                                                    <p class="text-secondary small">You get</p>
                                                                </div>
                                                                <div class="col-auto text-end">
                                                                    <h6>$ 10.0 L</h6>
                                                                    <p class="text-secondary small">in 10 years</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-outline-theme">Get Details</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card adminuiux-card mb-3 border border-theme-1 theme-orange position-relative">
                                        <span class="ribbon bg-theme-1 position-absolute top-0 start-0 z-index-1">5% OFF</span>
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-12 col-sm-9 col-xxl mb-3 mb-xxl-0">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar avatar-60 rounded coverimg">
                                                                <img src="assets/img/modern-ai-image/shopping-1.jpg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <h6>iSelect Guaranteed Scheme</h6>
                                                            <span class="badge badge-sm badge-light text-bg-theme-1">7 Year Payment</span>
                                                            <span class="badge badge-sm badge-light text-bg-success mx-1">Pay Yearly</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-3 col-xxl-auto mb-3 mb-sm-0">
                                                    <h6>$ 7.77 L</h6>
                                                    <p class="text-secondary small">You will give</p>
                                                </div>
                                                <div class="col-12 col-md-9 col-xxl-4 mb-3 mb-md-0">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row align-items-center justify-content-between">
                                                                <div class="col-auto text-start">
                                                                    <h6 class="mb-1">6.80%
                                                                        <small>
                                                                            <span class="badge badge-sm badge-light text-bg-success mx-1 fw-normal">Tax Free</span>
                                                                        </small>
                                                                    </h6>
                                                                    <p class="text-secondary small">You get</p>
                                                                </div>
                                                                <div class="col-auto text-end">
                                                                    <h6>$ 25.0 L</h6>
                                                                    <p class="text-secondary small">in 20 years</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-outline-theme">Get Details</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card adminuiux-card mb-3">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-12 col-sm-9 col-xxl mb-3 mb-xxl-0">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar avatar-60 rounded coverimg">
                                                                <img src="assets/img/modern-ai-image/shopping-2.jpg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <h6>Guaranteed income for retirement</h6>
                                                            <span class="badge badge-sm badge-light text-bg-theme-1">10 Year Payment</span>
                                                            <span class="badge badge-sm badge-light text-bg-success mx-1">Pay Monthly</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-3 col-xxl-auto mb-3 mb-sm-0">
                                                    <h6>$ 10.0 L</h6>
                                                    <p class="text-secondary small">You will give</p>
                                                </div>
                                                <div class="col-12 col-md-9 col-xxl-4 mb-3 mb-md-0">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row align-items-center justify-content-between">
                                                                <div class="col-auto text-start">
                                                                    <h6 class="mb-1">7.65%
                                                                        <small>
                                                                            <span class="badge badge-sm badge-light text-bg-success mx-1 fw-normal">Tax Free</span>
                                                                        </small>
                                                                    </h6>
                                                                    <p class="text-secondary small">You get</p>
                                                                </div>
                                                                <div class="col-auto text-end">
                                                                    <h6>$ 16.25 L</h6>
                                                                    <p class="text-secondary small">in 12 years</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-outline-theme">Get Details</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card adminuiux-card mb-3">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-12 col-sm-9 col-xxl mb-3 mb-xxl-0">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar avatar-60 rounded coverimg">
                                                                <img src="assets/img/modern-ai-image/shopping-3.jpg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <h6>Smart Saving Guaranteed</h6>
                                                            <span class="badge badge-sm badge-light text-bg-theme-1">5 Year Payment</span>
                                                            <span class="badge badge-sm badge-light text-bg-success mx-1">Pay Yearly</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-3 col-xxl-auto mb-3 mb-sm-0">
                                                    <h6>$ 8.0 L</h6>
                                                    <p class="text-secondary small">You will give</p>
                                                </div>
                                                <div class="col-12 col-md-9 col-xxl-4 mb-3 mb-md-0">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row align-items-center justify-content-between">
                                                                <div class="col-auto text-start">
                                                                    <h6 class="mb-1">7.0%
                                                                        <small>
                                                                            <span class="badge badge-sm badge-light text-bg-success mx-1 fw-normal">Tax Free</span>
                                                                        </small>
                                                                    </h6>
                                                                    <p class="text-secondary small">You get</p>
                                                                </div>
                                                                <div class="col-auto text-end">
                                                                    <h6>$ 12.0 L</h6>
                                                                    <p class="text-secondary small">in next 5 years</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-outline-theme">Get Details</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card adminuiux-card mb-3">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-12 col-sm-9 col-xxl mb-3 mb-xxl-0">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar avatar-60 rounded coverimg">
                                                                <img src="assets/img/modern-ai-image/tree-3.jpg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <h6>Guaranteed Return Plan</h6>
                                                            <span class="badge badge-sm badge-light text-bg-theme-1">5 Year Payment</span>
                                                            <span class="badge badge-sm badge-light text-bg-success mx-1">Pay Monthly</span>
                                                            <span class="badge badge-sm badge-light text-bg-warning">Gift Nifty 50 Fund</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-3 col-xxl-auto mb-3 mb-sm-0">
                                                    <h6>$ 6.0 L</h6>
                                                    <p class="text-secondary small">You will give</p>
                                                </div>
                                                <div class="col-12 col-md-9 col-xxl-4 mb-3 mb-md-0">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row align-items-center justify-content-between">
                                                                <div class="col-auto text-start">
                                                                    <h6 class="mb-1">30.2%
                                                                        <small>
                                                                            <span class="badge badge-sm badge-light text-bg-success mx-1 fw-normal">Tax Free</span>
                                                                        </small>
                                                                    </h6>
                                                                    <p class="text-secondary small">10 Yr Returns*</p>
                                                                </div>
                                                                <div class="col-auto text-end">
                                                                    <h6>$ 10.0 Cr</h6>
                                                                    <p class="text-secondary small">in 30 years</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-outline-theme">Get Details</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card adminuiux-card mb-3">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-12 col-sm-9 col-xxl mb-3 mb-xxl-0">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar avatar-60 rounded coverimg">
                                                                <img src="assets/img/modern-ai-image/tree-1.jpg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <h6>iSelect Guaranteed Scheme</h6>
                                                            <span class="badge badge-sm badge-light text-bg-theme-1">7 Year Payment</span>
                                                            <span class="badge badge-sm badge-light text-bg-success mx-1">Pay Yearly</span>
                                                            <span class="badge badge-sm badge-light text-bg-warning">Jacky's 100 Fund</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-3 col-xxl-auto mb-3 mb-sm-0">
                                                    <h6>$ 7.77 L</h6>
                                                    <p class="text-secondary small">You will give</p>
                                                </div>
                                                <div class="col-12 col-md-9 col-xxl-4 mb-3 mb-md-0">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row align-items-center justify-content-between">
                                                                <div class="col-auto text-start">
                                                                    <h6 class="mb-1">26.80%
                                                                        <small>
                                                                            <span class="badge badge-sm badge-light text-bg-success mx-1 fw-normal">Tax Free</span>
                                                                        </small>
                                                                    </h6>
                                                                    <p class="text-secondary small">10 Yr Returns*</p>
                                                                </div>
                                                                <div class="col-auto text-end">
                                                                    <h6>$ 25.0 cr</h6>
                                                                    <p class="text-secondary small">in 20 years</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-outline-theme">Get Details</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card adminuiux-card mb-3 border border-theme-1 theme-green position-relative">
                                        <span class="ribbon bg-theme-1 position-absolute top-0 end-0 z-index-1">Recommended</span>
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-12 col-sm-9 col-xxl mb-3 mb-xxl-0">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar avatar-60 rounded coverimg">
                                                                <img src="assets/img/modern-ai-image/tree-10.jpg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <h6>Guaranteed income for retirement</h6>
                                                            <span class="badge badge-sm badge-light text-bg-theme-1">10 Year Payment</span>
                                                            <span class="badge badge-sm badge-light text-bg-success mx-1">Pay Monthly</span>
                                                            <span class="badge badge-sm badge-light text-bg-warning">Nifty Consumer 100 Fund</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-3 col-xxl-auto mb-3 mb-sm-0">
                                                    <h6>$ 10.0 L</h6>
                                                    <p class="text-secondary small">You will give</p>
                                                </div>
                                                <div class="col-12 col-md-9 col-xxl-4 mb-3 mb-md-0">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row align-items-center justify-content-between">
                                                                <div class="col-auto text-start">
                                                                    <h6 class="mb-1">37.65%
                                                                        <small>
                                                                            <span class="badge badge-sm badge-light text-bg-success mx-1 fw-normal">Tax Free</span>
                                                                        </small>
                                                                    </h6>
                                                                    <p class="text-secondary small">10 Yr Returns*</p>
                                                                </div>
                                                                <div class="col-auto text-end">
                                                                    <h6>$ 16.25 Cr</h6>
                                                                    <p class="text-secondary small">in 22 years</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-outline-theme">Get Details</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card adminuiux-card mb-3">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-12 col-sm-9 col-xxl mb-3 mb-xxl-0">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar avatar-60 rounded coverimg">
                                                                <img src="assets/img/modern-ai-image/tree-21.jpg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <h6>Smart Saving Guaranteed</h6>
                                                            <span class="badge badge-sm badge-light text-bg-theme-1">5 Year Payment</span>
                                                            <span class="badge badge-sm badge-light text-bg-success mx-1">Pay Yearly</span>
                                                            <span class="badge badge-sm badge-light text-bg-warning">Nifty 100, 50 Fund</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-3 col-xxl-auto mb-3 mb-sm-0">
                                                    <h6>$ 8.0 L</h6>
                                                    <p class="text-secondary small">You will give</p>
                                                </div>
                                                <div class="col-12 col-md-9 col-xxl-4 mb-3 mb-md-0">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row align-items-center justify-content-between">
                                                                <div class="col-auto text-start">
                                                                    <h6 class="mb-1">29.0%
                                                                        <small>
                                                                            <span class="badge badge-sm badge-light text-bg-success mx-1 fw-normal">Tax Free</span>
                                                                        </small>
                                                                    </h6>
                                                                    <p class="text-secondary small">10 Yr Returns*</p>
                                                                </div>
                                                                <div class="col-auto text-end">
                                                                    <h6>$ 12.0 Cr</h6>
                                                                    <p class="text-secondary small">in next 25 years</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-outline-theme">Get Details</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </main>

            </div>

            <!-- page footer -->
            <%= require('../partials/footer/investment-footer.html').default %>
                <%= require('../partials/offcanvas/theming.html').default %>

                    <!-- Page Level js -->
                    <%= require('../partials/footbody/footbody.html').default %>